@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  font-family: "Permanent Marker", cursive;
  background-color: #2f80ed;
  color: white;
  height: 100%;
}

button {
  background-color: #4c5eaf;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid #bbb;
  border-radius: 10px;
  margin-bottom: 20px;
}

button:hover:not(:disabled) {
  background-color: #af4c91;
}

@media (hover: none) {
  button:hover:not(:disabled) {
    background-color: #4c5eaf;
  }
}


button:disabled {
  cursor: default;
}

.button-correct {
  background-color: #4caf50;
}

.button-incorrect {
  background-color: #f44336;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.new-page {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.question-box {
  background-color: #333;
  border: 3px solid #bbb;
  border-radius: 10px;
  padding: 40px;
  font-size: 1.5em;
  margin: 30px auto;
  width: 70%;
  padding-bottom: 50px;
}

.counter-time-wrapper {
  font-family: Arial, Helvetica, sans-serif, cursive;
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  margin-bottom: 50px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
}

.quiz-image {
  display: block;
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.start-quiz-text {
  text-align: center;
}

.results {
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.results h1,
.results h2 {
  margin-bottom: 20px;
}

.results p {
  font-family: Arial, Helvetica, sans-serif, cursive;
}

.copyright p {
  font-family: Arial, Helvetica, sans-serif, cursive;
  text-align: center;
}

.copyright a {
 text-decoration: none;
 color: white;
}

.copyright a:hover {
  text-decoration: underline;
  color: white;
}

.copyright a:visited {
  text-decoration: none;
  color: white;
}

.results ul {
  list-style: none; /* Remove default list style */
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, cursive;
}

.results li {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.feedback {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #bbb;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* Animation properties */
  animation-name: fadeIn;
  animation-duration: 1s; /* Adjust the time as needed */
  animation-fill-mode: forwards; /* Keeps the element visible after animation ends */
}

.feedback.correct {
  background-color: green; /* Adjust the color as needed */
}

.feedback.time-up {
  background-color: orange; /* Adjust the color as needed */
}

.feedback.wrong {
  background-color: red; /* Adjust the color as needed */
}

.countdown {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #af4c91;
  border: 3px solid #bbb;
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease-out;
}

.countdown-empty {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px auto;
}

.countdown h4 {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

@media (max-width: 600px) {
  .question-box {
    margin-top: 20px;
  }
  .question-box,
  button {
    width: 80%;
    font-size: 14px;
    padding: 10px 20px;
  }
  .quiz-image {
    width: 80%;
  }
  .results {
    width: 80%;
  }
  .countdown {
    width: 40px;
    height: 40px;
  }
  .countdown-empty {
    width: 40px;
    height: 40px;
    padding-top: 50px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .question-box {
    margin-top: 25px;
  }
  .question-box,
  button {
    width: 75%;
    font-size: 16px;
  }
  .quiz-image {
    width: 70%;
  }
  .results {
    width: 85%;
  }
  .countdown {
    width: 50px;
    height: 50px;
  }
  .countdown-empty {
    width: 50px;
    height: 50px;
    padding-top: 30px;
  }
}

@media (min-width: 1025px) {
  .question-box {
    width: 60%;
  }
  button {
    width: 50%;
  }
  .quiz-image {
    width: 50%;
  }
  .results {
    width: 70%;
  }
  .countdown {
    width: 70px;
    height: 70px;
  }
  .countdown-empty {
    width: 70px;
    height: 70px;
    padding-top: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%); /* Slightly higher starting position */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
